.actions select[name='m'], .actions #post-query-submit, .view-switch { display: none; }
#visibility { display: none; }
#pods-meta-more-fields .hndle span { display: none; }
#pods-meta-more-fields .hndle:after { content: 'Øvrig produktinformasjon'; }
#insert-jetpack-contact-form, #add_pod_button { display: none; }
#pageparentdiv .inside p:nth-child(4), #pageparentdiv .inside p:nth-child(5) { display: none; }
#newforhandler_parent { display: none; }